@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;

}

.A {
    height: 50px;
    background-color: #f5f5f5;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

.B {
    height: 24px;
    width: 24px;


}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 5px;
}

a:hover {
    color: #a2a19e;

}

path:hover {
    color: #a2a19e;
}


.D {
    height: 58px;
    background-color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.E {
    height: 78.47px;
    width: 78.47px;
}

.G {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Box {
    height: 40px;
    width: 150px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 10px;
    overflow: hidden;
}

.Box input {
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #f5f5f5;
    padding-left: 5px;

}

.ctsp {
    height: 900px;
    width: 100%;

    padding: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

}

img {
    height: 100%;
    width: 100%;
}

.word {

    height: 100%;
    width: 400px;
    padding-left: 100px;
    font-size: 18px;

}

button {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100PX;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;

}

button:hover {
    background-color: white;
    color: black;
    transition: 1s;
    font-size: 20px;
}

.TT1 {

    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    align-items: center;

}


.TTT {
    padding: 50px;
}

.Trending {
    height: 100%;
    width: 100%;
    position: relative;

}

.Trending img {
    height: 100%;
    width: 100%;
}

.Trending button {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px;
    width: 50%;
    height: 40px;
    background: transparent;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;

}

.Trending button:hover {
    background-color: white;
    color: black;
    transition: 0.7s;
    font-size: 20px;
}

.FF {
    width: 80%;
    margin: auto;
}

.FF1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

ul {
    list-style: none;
}

.footer {
    background-color: #000000;
    padding: 70px 0;
}

.FF2 {

    padding: 0 15px;
}

.FF2 h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.FF2 ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.FF2 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.FF2 .FF3 a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.FF2 .FF3 a:hover {
    color: #000000;
    background-color: #ffffff;
}